<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" internalLogLevel="info" internalLogFile=".\.\temp\internal-nlog-AspNetCore2.txt">
  <variable name="logDirectory" value="${basedir}/Logs" />
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/Logs/nlog-AspNetCore2-all-${shortdate}.log" 
    layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
    archiveFileName="${basedir}/logs/archives/allfile.{#}.txt" 
    archiveAboveSize="5242880" 
    archiveEvery="Day" 
    archiveNumbering="Rolling" 
    maxArchiveFiles="100" 
    encoding="utf-8" />
    
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/Logs/nlog-AspNetCore2-own-${shortdate}.log" 
    layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" 
    archiveFileName="${basedir}/logs/archives/ownFile-web.{#}.txt" 
    archiveAboveSize="5242880" 
    archiveEvery="Day" 
    archiveNumbering="Rolling" 
    maxArchiveFiles="100" 
    encoding="utf-8" 
     />
     
    <target name="log_file_error" xsi:type="File" layout="${longdate} ${callsite} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" 
    fileName="${basedir}/logs/Errorlogfile.txt" 
    archiveFileName="${basedir}/logs/archives/log.info.{#}.txt" 
    archiveAboveSize="5242880" 
    archiveEvery="Day" 
    archiveNumbering="Rolling" 
    maxArchiveFiles="100" 
    encoding="utf-8"  />
    
  </targets>
  
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole -->
    
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    
    <logger name="*" minlevel="Error" writeTo="log_file_error" />
  </rules>
</nlog>
